---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import StackCard from "@components/StackCard.astro"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const stack = [  
  { 
    text: "Javascript", 
    icon: "javascript", 
    href: "https://www.javascript.com" 
  },
  { 
    text: "Typescript", 
    icon: "typescript", 
    href: "https://www.typescriptlang.org" 
  },
  { 
    text: "Dart", 
    icon: "dart", 
    href: "https://dart.dev/" 
  },
  { 
    text: "Java", 
    icon: "java", 
    href: "https://www.oracle.com/java/" 
  },
  { 
    text: "Python", 
    icon: "python", 
    href: "https://www.python.org/" 
  },
  { 
    text: "NodeJS", 
    icon: "node", 
    href: "https://nodejs.org/en" 
  },
  { 
    text: "Express", 
    icon: "express", 
    href: "https://expressjs.com/" 
  },
  { 
    text: "NextJS", 
    icon: "next", 
    href: "https://nextjs.org/" 
  },
  { 
    text: "GCP", 
    icon: "gcp", 
    href: "https://cloud.google.com" 
  },
  { 
    text: "Firebase", 
    icon: "firebase", 
    href: "https://firebase.google.com" 
  },
  { 
    text: "Docker", 
    icon: "docker", 
    href: "https://www.docker.com" 
  },
  { 
    text: "Angular", 
    icon: "angular", 
    href: "https://angular.dev" 
  },
  { 
    text: "Astro", 
    icon: "astro", 
    href: "https://astro.build" 
  },  
  { 
    text: "React", 
    icon: "react", 
    href: "https://es.react.dev" 
  },
  { 
    text: "Flutter", 
    icon: "flutter", 
    href: "https://flutter.dev" 
  },
  { 
    text: "Postgres", 
    icon: "postgres", 
    href: "https://www.postgresql.org/" 
  },
  { 
    text: "Tailwind", 
    icon: "tailwind", 
    href: "https://tailwindcss.com" 
  },
  
]
---

<PageLayout title="Inicio" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
      <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            Hola, soy Francisco Lino
          </p>
          <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
            Web Developer
          </p>
          <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
            Apasionado por la tecnología, la IA, y la ciberseguridad
          </p>
          <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='/blog' class='py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
              Lee mi blog
            </a>
            <a href='/work' class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              Ve mi trabajo
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- About Section -->
      <section class="animate">
        <article>
          <p>Soy un <b><i>ingeniero en sistemas</i></b>, <b><i>desarrollador web</i></b>, <b><i>aficionado a la ciberseguridad</i></b>, <b><i>escritor novato</i></b>, <b><i>músico de ocasión</i></b>, <b><i>profesor de vocación</i></b>, <b><i>estudiante de tiempo completo</i></b>, <b><i>entusiasta del desarrollo humano</i></b>, y <b><i>amante del café</i></b>.</p>
          <p>Me encantan los proyectos que involucran retos y dasfíos que te sacan de tu zona de confort y te mueven a aprender nuevas formas de resolver un problema, a dominar nuevas herramientas, a encararlos desde otra perspectiva. Creo firmemente que, para crecer, algunas veces te tienes que romper.</p>
          <p>Durante mi carrera</p>
          <p>He tenido la oportunidad de trabajar como desarrollador independiente, construyendo sistemas web como apoyo en el área de la educación, aplicaciones móviles y páginas web para promocionar negocios. También he trabajado para algunas empresas del sector privado, donde he construido aplicaciones web, microservicios, API's, herramientas de monitoreo, etc</p>
          <p>Hoy</p>
          <p>Actualmente me desempeño como desarrollador de pila completa en un consultora de desarrollo de software, donde mi función principal es el diseño, desarrollo e implementación de sistemas a la medida. Empleando tecnologías como <b>NodeJS</b>, <b>Express</b>, <b>Angular</b>, <b>NextJS</b>, <b>Flutter</b>, <b>Google Cloud Platform</b>, <b>Docker</b>, <b>Firebase</b>, entre otras. </p>
        </article>
      </section>

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Publicaciones recientes
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                Todas las publicaciones
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Tech Stack Section -->
      <section class="animate">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white">
            Stack tecnológico
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {stack.map(item => (
              <StackCard 
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
        </div>
      </section>

      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Proyectos recientes
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                Todos los proyectos
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Contact Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Contáctame
          </p>
          <p>
            Comunicate conmigo vía correo electrónico o redes sociales
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </section>
    </div>
  </div>
</PageLayout>
